#scroll-to-top {
  position: absolute;
  bottom: 30px;
  /*right: 10px;*/
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  /*background-color: rgba(0,0,0,.3);*/
  color: #fff;
  padding-top: 2px;
}

